body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif; 
}
.navbar{
    background-color: #00abff;
}
a { 
    color:#00abff;
    text-decoration:none; 
}

ul.nav-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#00abff;
}
ul.nav-links li {float: right;}

ul.nav-links li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.nav-links li a:hover:not(.active) {background-color: #111;}

ul.nav-links li a.active {background-color: #76226f;}

ul.nav-links li.right {float: left;}



h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#content { 
    float:left;
    width:60%;
    padding:0 0 10px 30px; 
}

.posts{
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
#sidebar { 
    float:right;
    width:30%;
    padding-left: 20px;
    background:#efefef; 
    height:100%;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    margin-top: 89px;
}

p.date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}